Repository kubevirt/kubevirt-tekton-tasks, pull requests merged in 2025-03, with the labels that each got.

#666 fix: test-with-reports makefile target
  modules/disk-uploader/pkg/vmexport/vmexport_test.go
  modules/wait-for-vmi-status/pkg/requirements/lookup_test.go
  modules/wait-for-vmi-status/pkg/requirements/requirements_suite_test.go
  modules/wait-for-vmi-status/pkg/requirements/requirements_test.go
  scripts/test-with-reports.sh
Labels: dco-signoff: yes, size/M, release-note-none, approved, lgtm

#665 fix: when vmExport is in skipped phase, exit the disk uploader task
  modules/disk-uploader/pkg/vmexport/vmexport.go
  modules/disk-uploader/pkg/vmexport/vmexport_test.go
Labels: dco-signoff: yes, release-note, size/S, approved, lgtm

#702 feat: bump virtio win image version in installer pipeline
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Labels: dco-signoff: yes, size/XS, release-note, approved, lgtm

#698 add multiarch support for kubevirt tasks
  build/Containerfile
  build/Containerfile.DiskVirt
  release/tasks/cleanup-vm/cleanup-vm.yaml
  release/tasks/create-vm-from-manifest/create-vm-from-manifest.yaml
  release/tasks/disk-uploader/disk-uploader.yaml
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  release/tasks/execute-in-vm/execute-in-vm.yaml
  release/tasks/generate-ssh-keys/generate-ssh-keys.yaml
  release/tasks/modify-data-object/modify-data-object.yaml
  release/tasks/wait-for-vmi-status/wait-for-vmi-status.yaml
  scripts/build-release-images.sh
  scripts/push-release-images.sh
  templates/create-vm-from-manifest/manifests/create-vm.yaml
  templates/disk-uploader/manifests/disk-uploader.yaml
  templates/disk-virt-customize/manifests/disk-virt-customize.yaml
  templates/disk-virt-sysprep/manifests/disk-virt-sysprep.yaml
  templates/execute-in-vm/manifests/execute-in-vm.yaml
  templates/generate-ssh-keys/manifests/generate-ssh-keys.yaml
  templates/modify-data-object/manifests/modify-data-object.yaml
  templates/wait-for-vmi-status/manifests/wait-for-vmi-status.yaml
Labels: dco-signoff: yes, size/M, release-note-none, approved, lgtm, ok-to-test
